h2{
    text-align: center;
}

.schedule-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #ccc;
    padding: 10px;
}

.grid-header {
    border-right: 10px solid #ccc;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.grid-item {
    padding: 10px;
    nth
    border-bottom: 1px solid #eee;
}